@import './base.css';
#app {
    margin: 0 auto;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: #0288D1;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: #81d4fa4a;
    }
}

body {
    margin: 0px;
}